<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <connectionStrings>
    <add name="SQLConnectionString" connectionString="server=livedb.c5vs7ws3kvno.eu-west-2.rds.amazonaws.com,1433;database=Main;uid=MAINUSER;password=crz,3zp9;"/>

  </connectionStrings>
  <appSettings>

    <add key="EmailList" value="ian@investandfund.com"/>
    <add key="DailyReporterPW" value="Soj62924"/>
    <add key="DailyReporterUSR" value="sippreporting@investandfund.com"/>
    <add key="ErrorPW" value="Zuv87992"/>
    <add key="ErrorUSR" value="error@investandfund.com"/>
    <add key="SIPPProvider" value="0"/>
    <add key="HowHear" value="4th Way"/>
    <!--
      <add key="EmailList" value="stephen@investandfund.com"/>
       -->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
